// ==UserScript==
// @ScriptName xxcjpt 去会员限制+去广告
// @Author lvbu1897
// @UpdateTime 2026-09-11
// @Function 修改 /java/user/my 与 /java/show/ 接口, 解锁 VIP/完整视频/观看次数, 去广告
// @Suitable 仅用于学习交流，请勿滥用
// @ScriptURL https://raw.githubusercontent.com/lvbu1897/xxcjpt-rewrite/main/xxcjpt-vip.js
// ==/UserScript==

hostname = sixth.xxcjpt.com

^https?://sixth\.xxcjpt\.com/java/(user/my|show) url script-response-body https://raw.githubusercontent.com/lvbu1897/xxcjpt-rewrite/main/xxcjpt-vip.js
