// ==UserScript==
// @ScriptName xxcjpt 会员测试
// @Author 你的昵称
// @UpdateTime 2026-09-11
// @Function 修改 /java/user/my 接口 VIP 状态与到期时间
// @Suitable 仅用于学习交流，请勿滥用
// @ScriptURL https://raw.githubusercontent.com/你的用户名/xxcjpt-rewrite/main/xxcjpt-vip.js
// ==/UserScript==

hostname = sixth.xxcjpt.com

^https?://sixth\.xxcjpt\.com/java/user/my url script-response-body https://raw.githubusercontent.com/你的用户名/xxcjpt-rewrite/main/xxcjpt-vip.js
